<hr />
<button type="button" class="btn btn-secondary" (click)="loadAll()">Load All</button>
<button type="button" class="btn btn-danger" (click)="removeAll()">Remove All</button>
<hr />
<table class="table table-bordered table-striped table-hover">
    <thead>
        <th class="text-center">Action</th>
        <th>Resource</th>
        <th>Status</th>
    </thead>
    <tbody>
        <ng-template ngFor let-resource [ngForOf]="config" let-i="index">
            <tr>
                <td class="text-center">
                    <a href="#" (click)="load(resource, $event, i)" *ngIf="resource?.status != 'Loaded'" title="Load">
                        <i class="fa fa-play"></i>
                    </a>
                    <a href="#" (click)="remove($event, resource)" *ngIf="resource?.status == 'Loaded'" title="Remove">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
                <td>{{resource.data.url}}</td>
                <td>{{resource.status}}</td>
            </tr>
            <tr *ngIf="actions[i] && !loadingAll">
                <td colspan="3" class="logger-wrapper">
                    <div class="logger-container">
                        <code class="logger">
                            <pre *ngFor="let log of results[i]">{{'> ' + log}}</pre>
                        </code>
                    </div>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>
<hr />
<div class="logger-container" *ngIf="loadingAll">
    <code class="logger">
    <pre *ngFor="let log of logsList">{{'> ' + log}}</pre>
</code>
</div>
<hr />