<hr />
<button type="button" class="btn btn-secondary" (click)="loadAll()">Load All</button>
<button type="button" class="btn btn-danger" (click)="deleteAll()">Delete All</button>
<hr />
<table class="table table-bordered table-striped table-hover">
    <thead>
        <th class="text-center">Action</th>
        <th>Resource</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let resource of config">
            <td class="text-center">
                <a href="#" (click)="load(resource, $event)" *ngIf="resource?.status != 'Loaded'" title="Load">
                    <i class="fa fa-play"></i>
                </a>
                <a href="#" (click)="remove($event, resource)" *ngIf="resource?.status == 'Loaded'" title="Remove">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
            <td>{{resource.data.url}}</td>
            <td>{{resource.status}}</td>
        </tr>
    </tbody>
</table>
<hr />
<pre>{{config | json}}</pre>